{% extends "base.html" %}

{% block content %}
<div class="create">
    <h1 class="text-white text-center my-5">{{title}}</h1>

    <div class="form">
        <div class="form-error text-white">{{ form.non_field_errors }}</div>

    <form method="POST", enctype='multipart/form-data'>
        {% csrf_token %}
        
        {% for f in form %}
        <div class="create-input">
            {% if f.label %}
            <label>{{ f.label }}</label>
            {% endif %}

            {{ f }}
            <div class="form-error text-white">{{ f.errors }}</div>
        </div>
        {% endfor %}


        <div class="text-center mt-3">
            <button class="btn btn-success my-3">Create</button>
        </div>
    </form>
    </div>
</div>
{% endblock content %}