{% extends "base.html" %}

{% block content %}

<div class="border border-black p-5 my-3 text-white">
    <h4>User: {{post.user.username}}</h4>
    <h4>Created: {{post.create_date}}</h4>
    <h4>Text: {{post.text}}</h4>
    <h4>Likes: {{post.likes}}</h4>
</div>

<h1>Comments:</h1>
<p></p>

<div class="border border-black p-5 my-3 text-white">
    <div class="border border-black pt-5 my-3 p-3 text-white">
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="text" class="form-control my-3 py-2 w-75" placeholder="Text" maxlength="300" required="" id="id_text">
            <button type="submit" class="btn btn-success">Send</button>
        </form>
    </div>

    {% for comm in post.comment.all %}
    <div class="border border-black p-2 my-1 text-white">
        <h4>user: {{ comm.user.username }}</h4>
        <h4>text: {{ comm.text }}</h4>
        <h4>likes: {{ comm.likes }}</h4>
    </div>
    {% endfor %}
</div>

{% endblock content %}