{% extends "login_base.html" %}
{% block content %}
<div class="form-error text-white">{{ form.non_field_errors }}</div>

{% for f in form %}
{{ f }}
<div class="form-error text-white">{{ f.errors }}</div>
{% endfor %}

<div class="text-center mt-3">
    <button class="btn btn-success my-3">Login</button>
    <a id='btn-text' href="{% url "users:password_reset" %}" class="nav-link wx-auto">Forgot Password?</a>
    <a id='btn-text' href="{% url "users:register" %}" class="nav-link">Create Account</a>
</div>

{% endblock content %}