{% extends "base.html" %}
{% load main_tags %}

{% block content %}
<div class="group">
    <div class="group-header">
        <div class='g-h-top'>
            <div class="group-photo">
                <img src="{{ group.photo.url }}">
            </div>
            <span>{{ group.title }}</span>
        </div>
        <div class='g-h-bottom'>
            <div class="group-description">
                <span>{% md_html group.description %}</span>
            </div>
        </div>
        <div class="g-h-side">
            {% is_member group user as m %}
            {% if group.admin.pk == user.pk %}
            <a class='btn btn-secondary disabled'>You Are An Admin</a>
            {% elif not m %}
            <a href="{% url "join_group" group.pk %}" class='btn btn-success'>Join Group</a>
            {% else %}
            <a href="{% url "quit_group" group.pk %}" class='btn btn-warning'>Quit Group</a>
            {% endif %}
        </div>
    </div>

    <div class="group-main">
        <div class="group-posts">
            {% for post in posts %}
            {% include "main/includes/post.html" %}
            {% endfor %}
        </div>
        <div class="group-side">
            <div class="admin">
                <span>Admin:</span>
                {% with member=group.admin %}
                {% include "users/includes/profile_mini.html" %}
                {% endwith %}
            </div>
            <div class="members">
                <span>Members: {{group.members.count}}</span>
                <div class="list-members">
                    {% for member in group.members.all %}
                    {% include "users/includes/profile_mini.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}