{% extends "base.html" %}

{% block content %}
<div class="create">
    <h1 class="text-white text-center my-5">{{title}}</h1>

    <div class="form">
        <div class="form-error text-white">{{ form.non_field_errors }}</div>

    <form method="POST", enctype='multipart/form-data'>
        {% csrf_token %}
        
        {% for f in form %}
        <div class="create-input">
            {{ f }}
            <div class="form-error text-white">{{ f.errors }}</div>
        </div>
        {% endfor %}


        <div class="text-center mt-3">
            <button class="btn btn-success my-3">Send</button>
        </div>
    </form>
    </div>
    <div id='sup_msgs'>
        {% for msg in messages %}
        <div class='sup_msg'>
            <div class='sup_msg_top'>
                {% if msg.moder != None %}
                <img src="{{msg.moder.avatar.url}}" width='30px'>
                {{msg.moder.username}}
                {% else %}
                <img src="{{msg.user.avatar.url}}" width='30px'>
                {{msg.user.username}}
                {% endif %}
            </div>
            <div class='sup_msg_text'>
                {{msg.text}}
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}