{% extends "login_base.html" %}

{% block content %}

<div class="text-center mt-3 text-white">
    <h5>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
    <br>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</h5>
    <a href="{% url "users:password_reset" %}" class="btn btn-success my-3">Back To Reset</a>
    <a href="{% url "home" %}" class="btn btn-success my-3">Back To Home</a>
</div>

{% endblock content %}