{% load static %}
<div class="border border-black p-4 my-3 text-white post" id='comm'>
    <div class="post-header">
        <img src="{{ comm.user.avatar.url }}">
        <span class='post-username'>{{comm.user.username}}</span>
        <span class='post-date'>{{comm.create_date}}</span>
    </div>
    <div class="post-main">
        <span>{{comm.text}}</span>
    </div>
    <div class="post-footer">
    
        <form action="{% url "like_comm" comm.pk %}", method='POST'>
            {% csrf_token %}
            <button type='submit', class='btn_like'>
                <img src="{% static "images/like.png" %}">
                <span>{{comm.likes.count}}</span>
            </button>
        </form>
    </div>
</div>